<div class="auth">
  <h3>Connexion</h3>
  <form #formEl (input)="checkForm(formEl)">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Code élève</mat-label>
      <input matInput required maxlength="9" minlength="9" placeholder="thpr60710" name="code" [(ngModel)]="connexionData.code"/>
      <mat-error>Identifiants incorrects</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Mot de passe</mat-label>
      <input type="password" required matInput name="password" [(ngModel)]="connexionData.password">
      <mat-error>Identifiants incorrects</mat-error>
    </mat-form-field><br>
    <button type="submit" color="accent" mat-stroked-button [disabled]="submitStatus != 'can'" (click)="submitAuth()">{{ submitStatus == "loading" ? "Connexion..." : "Me connecter" }}</button>
  </form>
</div>
