<div class="global-wrapper">
  <h1>Mon compte</h1>
  <div class="wrapper" *ngIf="user">
    <ng-container>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Code élève</mat-label>
        <input matInput [value]="user.studentId" disabled />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput [value]="user.mail" disabled/>
      </mat-form-field>
    </ng-container>
    <a href="mailto:serveur@garageisep.com" target="_blank" mat-stroked-button >J'ai un problème !</a>
    <button mat-stroked-button (click)="logout()">Me déconnecter</button>
  </div>
</div>
