<h1>Mon compte</h1>
<h2 *ngIf="error">Impossible de charger les données de ton compte !</h2>
<div class="wrapper" *ngIf="!loading && this.apiService.userData?.verified">
  <h2>L'adresse mail n'à toujours pas été vérifiée !</h2>
  <button mat-stroked-button class="resend-mail" (click)="resendEmailConfirmation()">Renvoyer un mail !</button>
</div>
<div class="wrapper" *ngIf="!loading">
  <ng-component *ngIf="!error">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Code élève</mat-label>
      <input matInput [value]="apiService.userData.studentId" disabled />
    </mat-form-field>
    <mat-form-field [(ngModel)]="data.first_name" name="first_name" ngDefaultControl appearance="outline" color="accent">
      <mat-label>Prénom</mat-label>
      <input matInput (change)="updateField('first_name')"/>
    </mat-form-field>
    <mat-form-field [(ngModel)]="data.last_name" name="last_name" ngDefaultControl appearance="outline" color="accent">
      <mat-label>Nom</mat-label>
      <input matInput (change)="updateField('last_name')"/>
    </mat-form-field>
    <mat-form-field [(ngModel)]="data.mail" name="mail" ngDefaultControl appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="email" (change)="updateField('mail')"/>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-stroked-button (click)="updatePassword()">Mettre à jour mon mot de passe</button>
  </ng-component>

  <button mat-stroked-button (click)="logout()">Me déconnecter</button>
  <button mat-stroked-button (click)="removeAccount()">Supprimer mon compte</button>
</div>

