<div class="global-wrapper">
  <h1>Mon compte</h1>
  <h2 *ngIf="error">Impossible de charger les données de ton compte !</h2>
  <div class="wrapper" *ngIf="!loading && this.apiService.userData?.verified === false">
    <h2>L'adresse mail n'à toujours pas été vérifiée !</h2>
    <button mat-stroked-button class="resend-mail" (click)="resendEmailConfirmation()">Renvoyer un mail !</button>
  </div>
  <div class="wrapper" *ngIf="!loading">
    <ng-container *ngIf="!error">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Code élève</mat-label>
        <input matInput [value]="apiService.userData.studentId" disabled />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput [value]="apiService.userData.mail" disabled/>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button mat-stroked-button (click)="updatePassword()">Mettre à jour mon mot de passe</button>
    </ng-container>
    <a href="mailto:serveur@garageisep.com" mat-stroked-button >J'ai un problème !</a>
    <button mat-stroked-button (click)="logout()">Me déconnecter</button>
  </div>
</div>
