<div class="auth">
  <h3>Inscription</h3>
  <form #formEl (input)="checkForm(formEl)">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Code élève</mat-label>
      <input matInput required maxlength="9" minlength="9" placeholder="thpr60710" name="code" [(ngModel)]="connexionData.code"/>
      <mat-error>Code élève invalide</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email ISEP valide</mat-label>
      <input type="email" required matInput name="email" placeholder="theodore.prevot@eleve.isep.fr" [(ngModel)]="connexionData.email">
      <mat-error>Email invalide</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Mot de passe</mat-label>
      <input type="password" minlength="5" maxlength="20" required matInput name="password" [(ngModel)]="connexionData.password">
      <mat-error>Mot de passe invalide</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input type="password" required minlength="5" maxlength="20" matInput name="confirmPassword" [(ngModel)]="connexionData.confirmPassword">
      <mat-error>Mot de passe invalide</mat-error>
    </mat-form-field><br>
    <button type="submit" color="accent" mat-stroked-button [disabled]="submitStatus != 'can'" (click)="submitAuth()">Créer mon compte</button>
  </form>
</div>
