<div class="app-header">
  <mat-toolbar>
    <img src="/assets/garage.png" class="garage-icon" alt="Garage Logo" />
    <span>Herogu</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/" class="projects-button" *ngIf="apiService.logged && apiService.userData?.verified">
      <mat-icon>home</mat-icon>
    </button>
    <button *ngIf="apiService.logged && apiService.userData" mat-stroked-button color="accent" routerLink="/account">
      {{ apiService.userData?.first_name }} {{ apiService.userData?.last_name }}
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar [mode]="progressService.mode"  [value]="progressService.value" [style.opacity]="progressService.display ? 1 : 0"></mat-progress-bar>
</div>
