<br>
<app-create-project-info [error]="projectCreationError" [state]="projectCreationState">
	Création du projet
</app-create-project-info>
<app-create-project-info [error]="githubCreationError" [state]="githubCreationState">
	Création des fichiers de configuration sur le repository Github
</app-create-project-info>
<app-create-project-info *ngIf="createdProject.mysqlEnabled" [error]="mysqlCreationError" [state]="mysqlCreationState">
	Création de la base de données MySQL
</app-create-project-info>
<app-create-project-info [error]="dockerCreationError" [state]="dockerCreationState">
	Création et mise en ligne du site
</app-create-project-info>
<br>
<button *ngIf="isDone()" mat-stroked-button [routerLink]="'project' + createdProject.id">Accéder au project</button>