<div class="wrapper" [style.opacity]="!!user">
  <h1>Mes projets</h1>
  <div class="projects" *ngIf="user">
    <button class="project" mat-stroked-button *ngFor="let project of user.projects || []" [routerLink]="'project/' + project.id">
      <mat-icon>folder_special</mat-icon><br>
      <span>{{ project.name }}</span>
    </button>
    <button *ngIf="user.admin || !user.projects || user.projects.length == 0" class="project" mat-stroked-button routerLink="project/create">
      <mat-icon>add</mat-icon><br>
      <span>Créer un projet</span>
    </button>
  </div>
</div>
