:host {
	display: flex;
	width: 100%;
	padding: 15px;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 7px;
	box-sizing: border-box;
	justify-content: space-between;
}
mat-divider {
	height: 45px;
	margin: 0 10px 0 10px;
}
p,
h1 {
	margin: 0;
}
a:hover {
	text-decoration: underline;
}
div {
	display: flex;
	align-items: center;
}
.toggle-btn,
mat-progress-spinner {
	margin-right: 10px;
}
mat-progress-spinner,
mat-progress-spinner ::ng-deep svg {
	width: 30px !important;
	height: 30px !important;
	overflow: visible !important;
}
.link-wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: left;
}
a {
	text-align: left;
}
@media (max-width: 600px) {
	:host {
		padding: 5px 10px;
		& > div:first-of-type {
			flex-direction: column;
			align-items: start;
			font-size: 13px;
			flex: 1;
			mat-divider {
				display: none;
			}
		}
		& > div:last-of-type {
			height: 100%;
			flex-direction: column;
			align-items: flex-end;
			button {
				margin: 0;
			}
			app-project-status {
				margin-right: 13px;
			}
			mat-progress-spinner {
				margin: 8px 5px;
			}
		}
	}
}
