:host {
	margin-right: 10px;
	position: relative;
}
.badge {
	width: 12px;
	height: 12px;
	border-radius: 50px;
	cursor: pointer;
	&[status=SUCCESS], &[status=Running] {
		background-color: #5cb85c;
	}
	&[status=IN_PROGRESS] {
		background-color: #f0ad4e;
	}
	&[status=ERROR], &[status=NotFound] {
		background-color: #d9534f;
	}
	&[status=Stopped] {
		background-color: #808080;
	}
	&[status=""] {
		display: none;
	}
}
.view-errors {
	position: absolute;
	z-index: 1;
	background-color: #212121;
	transform: translateX(-50%);
	width: 150px;
	border: 1px solid rgba(255,255,255,.12);
	border-radius: 4px;
	padding: 0 5px;
	box-shadow: 0px 0px 3px 1px #00000040;
	top: 20px;
	&:hover {
		cursor: pointer;
	}
	.error {
		display: flex;
		align-items: center;
		user-select: none;
		margin: 5px 0px;
		padding: 7px 0px 7px 5px;
		&:not(:last-of-type) {
			border-bottom: 1px solid rgba(255,255,255,.12);
		}
		.origin {
			margin-left: 15px;
		}
	}
}