* {
  color: whitesmoke;
}
.wrapper {
  margin: 35px 5% 0 5%;
  text-align: center;
  h1 {
    font-size: 2em;
    margin-bottom: 35px;
  }
  .no-account {
    margin-top: 20px;
    text-align: center;
    margin: 20px auto;
  }
}
