/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}

* {
  // color: whitesmoke
}
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

$grey-dark-color: #212121;
$grey-color: #383838;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey-dark-color;
}
