/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
	height: initial;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
.inline-link {
  color: white;
  border-bottom: solid white 1px;
}
pre, code {
  background-color: #1e1e1e;
  border: none !important;
}

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$grey-dark-color: #212121;
$grey-color: #383838;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey-dark-color;
}
